<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
    <footer th:fragment="footer" class="footer" role="contentinfo">
        <div class="container textCen fontWR">
            <!--<span id="copyright" th:utext="#{copyright}"></span>-->
            <span class="marRight">主办单位：浙江省自然资源厅</span>|<span class="marLeft marRight">技术支持：浙江省测绘科学技术研究院</span>|<span class="marLeft marRight">地址：浙江省杭州市余杭区地信路2号</span><br/>
            <span class="marRight">电话：0571-87216963</span>|<span class="marLeft marRight">E-mail：zjbs@zjch.gov.cn</span>
            <!--<span>Powered by <a href="http://www.apereo.org/cas">
                Apereo Central Authentication Service
                <span th:text="${T(org.apereo.cas.util.CasVersion).getVersion()}"></span>
                <span th:text="${T(org.apereo.cas.util.CasVersion).getDateTime()}"></span> </a>
            </span>-->
            <img src="images/dzjg.png" width="50" height="62">
            <img src="images/jiucuo.png" width="110" height="55">
        </div>
    </footer>
</body>
</html>
