<script th:src="@{#{webjars.bootstrapmin.js}}"></script>

<script th:src="@{#{webjars.headmin.js}}"></script>
<script th:src="@{#{webjars.storemin.js}}"></script>
<script type="text/javascript" th:src="@{${#themes.code('cas.javascript.file')}}"></script>
<script type="text/javascript" th:src="@{${#themes.code('cas.javascript.zTreeCorefile')}}"></script>
<script type="text/javascript" th:src="@{${#themes.code('cas.javascript.zTreeExcheckfile')}}"></script>
<script type="text/javascript" th:src="@{${#themes.code('cas.javascript.security')}}"></script>

<script th:inline="javascript">
head.ready(document, function () {
    if (!window.jQuery) {
    	var jqueryUrl = /*[[@{#{webjars.jquerymin.js}}]]*/; 
        head.load(jqueryUrl, loadjQueryUI);
    } else {
        if(typeof(resourceLoadedSuccessfully)!="undefined"){
            notifyResourcesAreLoaded(resourceLoadedSuccessfully);
        }
    }
});

function loadjQueryUI() {
	var jqueryUrl = /*[[@{#{webjars.jqueryui.js}}]]*/; 
	head.load(jqueryUrl, loadjQueryCookies);
}


function changeCaptcha(){
    $("#Captcha").val('');
    var rmd = Math.random();
    var codeSrc = /*[[@{/captcha}]]*/;
    $("#captchaCode").attr('src',codeSrc+'?rmd='+rmd);
    //$("#captchaCode").attr('src',"/cas/captcha?rmd="+rmd);
}

function regPwdUrl(){
    $.ajax({
        type: "GET",
        url: /*[[@{/regPwdUrl}]]*/,
        dataType: "json",
        success: function(data){
            $("#registeruser").attr('href',data.regUrl);
            $("#forgotpwd").attr('href',data.pwdUrl);
        }
    });
}
//获取公钥的 modulus 和 exponent
function modulusExponent(){
    $.ajax({
        type: "GET",
        url: /*[[@{/modulusExponent}]]*/,
        dataType: "json",
        success: function(data){
            $("#hid_modulus").val(data.modulus);
            $("#hid_exponent").val(data.exponent);
        }
    });
}


function displayMesg() {
    $(".alert-danger").css('display','none');
}
/**
 *个人注册
 */
function grLogin() {
    $("#logintype").val("grlogin");
    var oLigr = $("#grlogin");
    var oLifr = $("#frlogin");
    var inputorg = $("#orgcode");
    var organimg = $("#organimg");
    inputorg.css('display','none');
    organimg.css('display','none');
    oLifr.css({"background":"rgba(0, 0, 0, 0.03)","color":"#787878"});
    oLigr.css({"background":"white","color":"black"});
    $("#regforget").html('<span class="fa fa-question-circle" style="color: #63B8FF;margin-right:5px;"></span>' +
        '<span><a href="https://puser.zjzwfw.gov.cn/sso/usp.do?action=register&servicecode=zjdlxxggfw" id="registeruser" target="_blank">注册账户</a></span>' +
        '&nbsp;|&nbsp;' +
        '<span><a href="https://puser.zjzwfw.gov.cn/sso/usp.do?action=forgotPwd&servicecode=zjdlxxggfw" id="forgotpwd" target="_blank">忘记密码</a></span>' +
        '<p/>');
}

/**
 * 法人注册
 */
function frLogin() {
    $("#logintype").val("frlogin");
    var oLigr = $("#grlogin");
    var oLifr = $("#frlogin");
    var inputorg = $("#orgcode");
    var organimg = $("#organimg");
    inputorg.css('display','block');
    organimg.css('display','block');
    oLigr.css({"background":"rgba(0, 0, 0, 0.03)","color":"#787878"});
    oLifr.css({"background":"white","color":"black"});
    //$('#registeruser').attr('href','https://uuser.zjzwfw.gov.cn/jsp/client/uuuser/uuuserRegistStep1.jsp');
    $('#forgotpwd').attr('href','');
    $("#regforget").html('<span class="fa fa-question-circle" style="color: #63B8FF;margin-right:5px;"></span>' +
        '<span><a href="http://gmuser.zjzwfw.gov.cn/idm/guser/forgetpwd" id="forgotpwd" target="_blank">忘记密码</a></span>' +
        '<p/>');
}

function showregedit(){
    $("#regeditmenu").css('display','block');
}
function hideregedit(){
    $("#regeditmenu").css('display','none');
}
function showgrregedit() {
    window.open("https://puser.zjzwfw.gov.cn/sso/usp.do?action=register&servicecode=zjdlxxggfw", "_blank");
}
function showfrregedit() {
    window.open("https://uuser.zjzwfw.gov.cn/jsp/client/uuuser/uuuserRegistStep1.jsp", "_blank");
}
var setting ={
    check: {
        enable: true,
            chkboxType: { "Y": "ps", "N": "ps" }
    },
    view: {
        dblClickExpand: true,
            showIcon: false,
            showTitle: true,
            txtSelectedEnable: true
    },
    data: {
        simpleData: {
            enable: true
        }
    },
    async: {
        enable: true,
        url:/*[[@{/getOrg}]]*/,
        //url: "http://dlxxbs.zjzwfw.gov.cn/ReportServer/rest/function/org/get",
        autoParam: ["poid=oid"],//变化参数
        //otherParam:{"otherParam":"zTreeAsyncTest"},固定参数
        type: "get",
        dataType:'json',
        dataFilter: filterOrg
    },
    callback: {
        onClick: onClickOrg
    }
}

function filterOrg(treeId, parentNode, childNodes) {
    var nodes = [];
    $.each(childNodes.result, function (i, m) {
        /*var pid;
        if (m.orgcoding.length == 3)
            pid = "0";
        else
            pid = m.orgcoding.substring(0, m.orgcoding.length - 3);*/
        nodes.push({
            id:m.id,
            orgcoding:m.orgcoding,
            poid: m.oid,
            devcoding: m.devcoding,
            name: m.orgname,
            isParent: true,
            nocheck:true
        });
    });
    $("#menuContent").children("img").remove();
    return nodes;
}

function onClickOrg(e, treeId, treeNode) {
    $("#orgcode").val(treeNode.name);//设置组织名称,显示
    $("#orgcodeVal").val(treeNode.orgcoding);//设置组织编号,传值
    $("#devcodingVal").val(treeNode.devcoding);//设置组织域名,传值
    hideMenu();
}

function initZTree() {
    $("#orgcode").focusin(this.selectOrg);
    $.fn.zTree.init($("#treeDemo"), this.setting);
}

/*function showMenu () {
    $("#menuContent").slideDown("fast");
    $("body").bind("mousedown", onBodyDown);
}*/
function hideMenu() {
    $("#menuContent").slideUp("fast");
    $("body").unbind("mousedown", onBodyDown);
}
function onBodyDown(event) {
    if (!(event.target.id == "menuBtn" || event.target.id == "orgcode" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
        hideMenu();
    }
}
/*
function getOrgListByCode(orgcoding){
    var url = "http://126.33.50.237:8899/RSComplat/rest/function/org/get"
        $.ajax({
            type: "GET",
            url: url,
            data: {orgcoding:orgcoding},
            dataType: "json",
            success: function(data){
                console.log(data.code);

                $.fn.zTree.init($("#treeDemo"), setting, zNodes);

            }
        });
}
*/

function checkUsPw(username,password) {
    if(username==""||username==undefined||username.trim()==""){
        $("#self-alert").css("display","block");
        $("#self-alert").html('<span>必须输入用户名！</span>');
        return false;
    }
    if(password==""||password==undefined||password.trim()==""){
        $("#self-alert").css("display","block");
        $("#self-alert").html('<span>必须输入密码！</span>');
        return false;
    }
    $("#self-alert").css("display","none");
    return true;
}

function isExistUser(loginName){
    var url = "http://118.178.118.177:8080/RSComplat/rest/Personal/User/verifyUser";
        $.ajax({
            type: "GET",
            url: url,
            data: {loginName:loginName},
            dataType: "json",
            success: function(data){
                //0:未授权，1：已授权，-1：错误
                //console.log(data.code);
                if(data.code==0){
                    loginAuthorization();
                }else if(data.code==1){
                    yesAut();
                }else{
                    $("#self-alert").css("display","block");
                    $("#self-alert").html('<span>授权失败！</span>');
                }
            }
        });
}

function loginAuthorization() {
    $("#sectiontAu").css('display','none');
    $("#secRem").css('display','none');
    $("#loginbutton").css('display','none');
    $("#regforget").css('display','none');
    $("#loginAuth").css('display','block');
}
function yesAut(){
    // 页面里，Javascript对明文进行加密：
    var modulus = $('#hid_modulus').val(),
        exponent = $('#hid_exponent').val();
    var $password = $('#password');
    var key = RSAUtils.getKeyPair(exponent, '', modulus);
    var password = $password.val();
    password = RSAUtils.encryptedString(key, password);
    $password.val(password);

    $("#loginbutton").attr("disabled", true);
    $("#loginbutton").attr("value", "请稍等……");
    $("#fm1").submit();
}
function noAut(){
    $("#sectiontAu").css('display','block');
    $("#secRem").css('display','block');
    $("#loginbutton").css('display','block');
    $("#regforget").css('display','block');
    $("#loginAuth").css('display','none');
}
/**
 * 获取指定的URL参数值
 * URL:http://www.quwan.com/index?name=tyler
 * 参数：paramName URL参数
 * 调用方法:getParam("name")
 * 返回值:tyler
 */
function getParam(paramName) {
    paramValue = "", isFound = !1;
    if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
        arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
        while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
    }
    return paramValue == "" && (paramValue = null), paramValue
}

function changeUrl(url) {
    var url_bak="";
    if(url.indexOf("//") != -1 ){
        var arr = url.split("//");
        if(arr[1].indexOf(":")!=-1){
            url_bak =url;
        }else{
            url_bak = arr[0]+"//";
            var domain="";
            if(arr.length >=1 && arr[1].indexOf("/") != -1){
                var urlTemp2 = arr[1].split("/");
                domain = urlTemp2[0];
            }
            url_bak = url_bak + domain+":"+80;
            if(arr.length >=1 && arr[1].indexOf("/") != -1){
                var  urlTemp2 = arr[1].split("/");
                if(urlTemp2.length > 1){
                    for(var i = 1;i < urlTemp2.length; i++){
                        url_bak = url_bak +"/"+urlTemp2[i];
                    }
                }
            }
        }
    }
    return url_bak;

}


function selectOrg() {
    var cityObj = $("#orgcode");
    var cityOffset = $("#orgcode").offset();
    $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
    $("body").bind("mousedown", onBodyDown);
}

function loadjQueryCookies() {
	var jqueryUrl = /*[[@{#{webjars.jquerycookie.js}}]]*/; 
	head.load(jqueryUrl, notifyResourcesAreLoaded(resourceLoadedSuccessfully));
}

function notifyResourcesAreLoaded(callback) {
    if (typeof callback === "function") {
        callback();
    }
}
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";

    var googleAnalyticsTrackingId = /*[[${googleAnalyticsTrackingId}]]*/;

    if (googleAnalyticsTrackingId != null && googleAnalyticsTrackingId != '') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', googleAnalyticsTrackingId, 'auto');
        ga('send', 'pageview');
    }

    /*]]>*/
</script>

<script type="text/javascript" th:if="${recaptchaSiteKey != null AND recaptchaInvisible != null AND recaptchaSiteKey AND recaptchaInvisible}" th:inline="javascript">
    function onSubmit(token) {
        $('#fm1').submit();
    }
</script>
