<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Generic Success View</title>
    <script th:inline="javascript">
        function goSysUrl(){
            var casSysUrl = document.getElementById("casSysUrl").value;
            window.location.href = casSysUrl;
        }
    </script>
</head>

<body onload="goSysUrl()">
</body>
</html>
