<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Generic Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
    <script th:inline="javascript">
        function get_cookie(Name) {
            var search = Name + "="//查询检索的值
            var returnvalue = "";//返回值
            if (document.cookie.length > 0) {
                sd = document.cookie.indexOf(search);
                if (sd!= -1) {
                    sd += search.length;
                    end = document.cookie.indexOf(";", sd);
                    if (end == -1)
                        end = document.cookie.length;
                    //unescape() 函数可对通过 escape() 编码的字符串进行解码。
                    returnvalue=unescape(document.cookie.substring(sd, end))
                }
            }
            return returnvalue;
        }

        function setServicesList(){
            var url = /*[[@{/getServices}]]*/
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function(data){
                    $('#services-list').empty();   //清空services-list里面的所有内容
                    var html = '';
                    var datas = data.items;
                    $.each(datas, function(commentIndex, comment){
                        html += '<li class="list-group-item">'
                            +'<a  href="'+comment['site_domain']+'" target="_blank">'
                            +'<i class="fa fa-rss"></i><span>'+comment['site_name']+'</span>'
                            +'</a></li>';
                    });
                    $('#services-list').html(html);
                }
            });
        }

        function setServersTGT() {
            var tgc = get_cookie("TGC");
            console.log("TGC:"+tgc);
            var path = "http://126.33.50.237:8080/cas/login?service=";
            //document.getElementById("RCComplat").setAttribute("href",path+"http%3a%2f%2f126.33.50.237%3a8080%2fRCComplat");
            //document.getElementById("MapConfigOL").setAttribute("href",path+"http%3a%2f%2f126.33.10.220%3a8080%2fMapConfigOL%2findex.jsp");
            //document.getElementById("press-viewer").setAttribute("href",path+"http%3a%2f%2f126.33.10.220%3a8181%2fpress-viewer%2fmap%2findex.do%3fpageId%3dmapPage%23");
            //document.getElementById("services-management").setAttribute("href",path+"http%3a%2f%2f126.33.50.237%3a8809%2fcas-management%2fservices%2fdefault");
            document.getElementById("RCComplat").setAttribute("href","http://126.33.50.237:8080/RCComplat");
            //document.getElementById("RCComplat").setAttribute("href","http://126.33.50.237:8080/RCComplat?ticket="+tgc);
            document.getElementById("MapConfigOL").setAttribute("href","http://126.33.10.220:8080/MapConfigOL/index.jsp");
            //document.getElementById("MapConfigOL").setAttribute("href","http://126.33.10.220:8080/MapConfigOL/index.jsp?ticket="+tgc);
            //document.getElementById("press-viewer").setAttribute("href","http://126.33.10.220:8181/press-viewer/map/index.do?pageId=mapPage#?ticket="+tgc);
            document.getElementById("press-viewer").setAttribute("href","http://126.33.10.220:8181/press-viewer/map/index.do?pageId=mapPage#");
            //document.getElementById("services-management").setAttribute("href","http://126.33.50.237:8809/cas-management/services/default?ticket="+tgc);
            document.getElementById("services-management").setAttribute("href","http://126.33.50.237:8809/cas-management/services/default");
            //document.getElementById("casClient").setAttribute("href","http://126.33.10.60:8080/casClient?ticket="+tgc);
            document.getElementById("casClient").setAttribute("href","http://126.33.10.60:8081/casClient");
            //document.getElementById("casClient").setAttribute("href",path+"http%3A%2F%2F126.33.10.60%3A8080%2FcasClient%2F");

        }
    </script>
</head>

<body onload="setServicesList()">
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="row">
        <div class="alert alert-success">
            <h2 th:utext="#{screen.success.header}">Log In Successful</h2>
            <p th:utext="#{screen.success.success(${principal.id})}">You, <strong>username</strong>, have successfully
                logged into the Central Authentication Service. However, you are seeing this page because CAS does not
                know about your target destination and how to get you there. Examine the authentication request again
                and make sure a target service/application that is authorized and registered with CAS is specified.</p>
            <p th:utext="#{screen.success.security}">When you are finished, for security reasons, please <a
                    href="logout">log out</a> and exit your web browser.</p>
        </div>

        <div id="notices" class="col-md mt-3 mt-md-0">
            <div th:replace="fragments/cas-resources-list :: cas-resource-list">
                <a href="fragments/cas-resources-list.html">cas-resource</a> list fragment
            </div>
        </div>
        
    </div>

    
</main>
</body>
</html>
